@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgba(0, 0, 0, 0.8);
  background-color: whitesmoke;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  @apply font-light;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-lg font-bold;
}

.supershadow {
  text-shadow: 0 0 12px rgba(252, 231, 204, 0.5);
}
